# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.brick-breaker.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\Unity3DVN\brick-breaker\.idea\.idea.brick-breaker\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
